<div class="back">
<div class="container">
  
  <div class="header__title">
    
    <div class="row">

      <div class="col-xs-6">
        <h1>
          For better healthcare claims management, think
          <br />
          <span class="highlight">“digital first”</span>
        </h1>
        <h4>A simple claim manager for a simple life.</h4><br><br><br>
        <h3>Why better claims management is needed</h3>
          <p>The healthcare industry is constantly evolving. For private payers today, effective claims management goes beyond merely processing and paying claims—it 
            also encompasses strategies to better manage medical costs and improve customer interactions. Five trends are spurring digital innovation in claims 
            management:</p><br>
        <h3>Healthcare costs are increasing:</h3>
        <p>Our calculations suggest that, between 2007 and 2017, the average per capita cost of healthcare in many countries increased by a compound annual 
          growth rate of more than 4 percent.Population aging is a big reason why: in many countries, an increasing proportion of the population is over age 65, and
           the prevalence of chronic diseases rises as people age.</p><br>

        <h3>Consumer preferences are becoming consumer demands:</h3>
        <p>Consumers are increasingly demanding digital and user-friendly pathways that let them easily manage all aspects and stages of their healthcare journeys, 
          and they expect these demands to be met. The high expectations are not limited to “digital natives” (millennials and those born more recently); gen-Xers and 
          baby boomers are also adopting digital technologies.</p><br>

        <h3>Government policies may be putting economic pressure on payers:</h3>
        <p>In some countries, governments are taking steps to encourage payers to reduce administrative costs. In the United States, for example, the Affordable 
          Care Act stipulates that 85 percent of all premiums paid for Individual market plans must be spent on medical services for members, leaving companies with 
          only 15 percent to pay for administrative and overhead costs</p><br>

        <h3>Payer employees’ job expectations are evolving:</h3>
        <p>The expectations of payers’ employees—both current and potential—are changing. Increasingly, payers are giving their employees greater flexibility, 
          more agile organizations, and new ways to work collaboratively; frequent training is also becoming a norm. In one survey, more than 80 percent of young 
          people aged 12 to 25 said they would like to have a job with a meaningful purpose that allows them to develop their own ideas</p><br>

        <h3>Health data availability presents both opportunities and challenges:</h3>
        <p>Health data from a variety of sources—from claims records to wearable devices—is now increasingly accessible in digital form; artificial intelligence 
          and cognitive systems have made it possible to mine this data to develop new cross-functionalities and customer insights. The quantity of healthcare data 
          is expected to be 15 times greater in 2020 than in 2013, as health technologies and mobile health products continue to generate additional information.
          Merging data from multiple sources remains a challenge, however, and in some countries, data security and privacy concerns still restrict how much of the 
          data can be analyzed. Nevertheless, the growing wealth of data is increasingly being used to provide customers with more personalized offerings and care.</p>
      </div>
      <div class="col-xs-6 offset-md-2">
        
      </div>
    </div>
  </div>
 
 
</div>
 <!--
  <div class="section margin-section" id="section--1" #target>
    <div class="row">
      <div class="col-xs-12 offset-md-2">
        <div class="section__title">
          <h2 class="section__description">Features</h2>
          <h3 class="section__header">
            Managing claims has never been so easy.
          </h3>
        </div>
      </div>
    </div>

    <div class="row justify-content-end">
      <div class="col-xs-6 col-md-6">
        <img
          src="../../assets/img/undraw_Web_developer_re_h7ie.svg"
          data-src="../../assets/img/digital.jpg"
          alt="Computer"
          class="features__img lazy-img"
        />
      </div>

      <div class="col-xs-6 col-md-6 d-flex justify-content-center">
        <div class="features__feature">
          <div class="features__icon">
            <svg>
              <use xlink:href="../../assets/img/icons.svg#icon-monitor"></use>
            </svg>
          </div>
          <h5 class="features__header">Easy to use</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde alias
            sint quos? Accusantium a fugiat porro reiciendis saepe quibusdam
            debitis ducimus.
          </p>
        </div>
      </div>
    </div>
   

    <div class="row justify-content-end margin-grid-row">
      <div class="col-xs-6 col-md-6 justify-content-center d-flex">
        <div class="features__feature">
          <div class="features__icon">
            <svg>
              <use
                xlink:href="../../assets/img/icons.svg#icon-credit-card"
              ></use>
            </svg>
          </div>
          <h5 class="features__header">View all your claims</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde alias
            sint quos? Accusantium a fugiat porro reiciendis saepe quibusdam
            debitis ducimus.
          </p>
        </div>
      </div>

      <div class="col-xs-6 col-md-6">
        <img
          src="../../assets/img/undraw_survey_05s5.svg"
          data-src="../../assets/img/digital.jpg"
          alt="Computer"
          class="features__img lazy-img"
        />
      </div>
    </div>

    <div class="row justify-content-end margin-grid-row">
      <div class="col-xs-6 col-md-6">
        <img
          src="../../assets/img/undraw_events_2p66.svg"
          alt="Computer"
          class="features__img lazy-img"
        />
      </div>

      <div class="col-xs-6 col-md-6 justify-content-center d-flex">
        <div class="features__feature">
          <div class="features__icon">
            <svg>
              <use
                xlink:href="../../assets/img/icons.svg#icon-trending-up"
              ></use>
            </svg>
          </div>
          <h5 class="features__header">Track you claim status</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde alias
            sint quos? Accusantium a fugiat porro reiciendis saepe quibusdam
            debitis ducimus.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
-->
<footer class="footer">
  <ul class="footer__nav">
    <li class="footer__item">
      <a class="footer__link" href="#">About</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="#">Pricing</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="#">Terms of Use</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="#">Privacy Policy</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="#">Careers</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="#">Blog</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="#">Contact Us</a>
    </li>
  </ul>
  <div class="logo">
    <a routerLink="/home"
      ><img
        src="../../assets/img/aurora-dao.svg"
        class="brand-logo"
        alt="brand logo"
    /></a>
  </div>
  <p class="footer__copyright" style="margin-left: -20%;">&copy;All rights reserved by CTS.</p>
</footer>
